<% c++ #include "Content.h" %>
<% skin view %>
<% view getInfo uses content::getViaKeyFile %>
<% template render() %>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body class="text-center">
<div class="pt-5">
    <form method="post" action="">
    <% form as_p info %>
    </form>
</div>
  </body>
<html>
<% end template %>
<% end view %>
<% end skin %>