<% c++ #include "Content.h" %>
<% skin view %>
<% view getInfo uses content::getViaKeyFile %>
<% template render() %>
<html>
<body>
    <form method="post" action="" >
    <% form as_p info %>
    </form>
  </body>
<html>
<% end template %>
<% end view %>
<% end skin %>